.root {
    display: flex;
    min-height: 100vh;
    background-image: url('/images/backgrounds/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  }